{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Settings</h2>

    <form method="POST">
        <div class="form-group">
            <label for="currency">Select Currency</label>
            <select name="currency" class="form-control">
                {% for code in currencies %}
                    <option value="{{ code }}" {% if current_user.currency == code %}selected{% endif %}>{{ code }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Update Currency</button>
    </form>
</div>
{% endblock %}
